.ProjectCard {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   width: 100%;
   /* transform: translateX(25px); */
}

.ProjectCard__details {
   width: 50%;
   text-align: right;
   display: flex;
   flex-direction: column;
   gap: 15px;
   /* transform: translateX(-50px); */
}

.ProjectCard__desc {
   background-color: #1a1a1a;
   position: relative;
   z-index: 2;
   padding: 25px;
   border-radius: 6px;
   color: white;
   font-size: 14px;
}

.ProjectCard__image {
   width: 50%;
}

.ProjectCard__skills {
   display: flex;
   gap: 10px;
   justify-content: flex-end;
}
