.ProjectCard {
   position: relative;
   display: grid;
   gap: 10px;
   grid-template-columns: repeat(12, 1fr);
   -webkit-box-align: center;
   align-items: center;
}

.ProjectCard__details {
   text-align: right;
   position: relative;
   grid-area: -1 / -1 / 1 / -7;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.ProjectCard__desc {
   background-color: #1a1a1a;
   position: relative;
   z-index: 2;
   padding: 25px;
   border-radius: 6px;
   color: white;
   font-size: 14px;
}

.ProjectCard__image {
   grid-area: -1 / -6 / 1 / 1;
   position: relative;
   z-index: 1;
}

.ProjectCard__image img {
   width: 100%;
}

.ProjectCard__skills {
   display: flex;
   gap: 10px;
   justify-content: flex-end;
}

@media (max-width: 640px) {
   .ProjectCard {
      grid-template-rows: repeat(6, 1fr); /* changed to grid-template-rows */
   }

   .ProjectCard__details {
      text-align: left;

      grid-area: -1 / -1 / -7 / 1; /* updated to span rows instead of columns */
   }

   .ProjectCard__image {
      display: none;
   }
   .ProjectCard__skills {
      justify-content: flex-start;
   }
}
